<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ppj.springBoot.mapper.VideoMapper">
	<select id="getVideos" resultType="Video">
		select * from video_tb limit #{offset},#{pageSize}
	</select>
	
	<select id="getVideosRows" resultType="java.lang.Integer">
		select count(*) from video_tb
	</select>
	
	<select id="getVideos8" resultType="Video">
		select * from video_tb limit #{offset},#{i}
	</select>
	
	<select id="getVideoByVideoId" resultType="Video">
		select * from video_tb where video_id=#{videoId}
	</select>
</mapper>